<% layout("/layouts/boilerplate") %>
<body>
    <h3>
        details: 
    </h3>

    <div class="details">
        <ul>
            <li>title : <%= listing.title %></li>
            <li>description : <%= listing.description %></li>
            <li>price : ₹<%= listing.price.toLocaleString("en-IN") %></li>
            <li>location : <%= listing.location %></li>
            <li>country : <%= listing.country %></li>
        </ul>
        <br>
        <form action="/listings/<%=listing._id%>/edit" method="get">
            <button>
                Edit
            </button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button>
                Delete
            </button>
        </form>
    </div>
</body>
</html>