<% layout("/layouts/boilerplate") %>


<div class="row mt-3">
    <div class="col-8 ">

        <h3>
            <%= listing.title %>
        </h3>
    </div>
<br><br>
        <div class="card col-6 offset-2 show-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    <br>
                    <br>&nbsp;
                    <i>"<%= listing.description %>"</i>
                     <br>
                    <%= listing.location %>
                    , <%= listing.country %>
                    <br>&nbsp;<br>
                     ₹<%= listing.price.toLocaleString("en-IN") %>
                </p>
            </div>
        </div>

        <br>

        <div class="btns">
            <form action="/listings/<%=listing._id%>/edit" method="get">
                <button class="btn btn-dark edit-btn">
                    Edit
                </button>
            </form>
&nbsp;&nbsp;&nbsp;&nbsp;
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark ">
                    Delete
                </button>
            </form>
        </div>



        <!--! Review side -->



        <div class="col-8 offset-3 mb-3">
            <hr><br>
            <h4>Leave a Review</h4>

            <form method="POST" action="/listings/<%=listing.id%>/reviews">

                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label"> Rating :  </label>
                    &nbsp;&nbsp;
                    <input type="range" min="1" max="10" id="rating" name="review[rating]" class="form-range">
                </div>
                <div class="mb-3 mt-3"> 
                    <label for="comment" class="form-label"> Comment : </label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
        
</div>